header {
/*persistent navigation*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
/*found this to keep the nav over the cards when scrolling*/
    z-index: 1000;
}
.image-container {
    text-align: center;
}
.image-container img {
    max-width: 50%;
    height: auto;
    padding: 20px;
}
.footer {
    background-color: beige;
}
section.hero {
    padding-top: 100px;
}
section.services {
    padding-top: 100px;
}
.imagesize {
    max-width: 75px;
    max-height: 75px;
}